* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    background-color: #000000;
}
html {
  scroll-behavior: smooth;
}


/* TAB PALING ATAS */
.tab-header {
    top: 0vh;
    position: sticky;
    display: block;
    height: 7vh;
    background-color: transparent;
    margin: 0;
    font-family: 'Lora', serif;
    z-index: 5;
    text-decoration: none;
}
.tab-header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14vw;
    font-size: 7vw;
    margin: 0;
    color: #fff;
}
.tab-header img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0vw;
    width: 15%;
    height: auto;
}
#logo-img {
    transition: filter 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .tab-header {
        height: 5vw;
    }
    .tab-header h1 {
        top: 50%;
        transform: translateY(-50%);
        font-size: 2vw;
        left: 11.2vw;
    }
    .tab-header img {
        top: 50%;
        transform: translateY(-50%);
        width: 5%;
        left: 6.5vw;
    }
}

.tab-header,
.tab-header h1,
.tab a span,
.hamburger div {
    transition: all 0.3s ease-in-out;
}

.tab {
    font-family: monospace;
    display: none;
}

@media (min-width: 768px) {
    .tab {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1vw;
        position: absolute;
        right: 10vw;
        top: 50%;
        transform: translateY(-50%);
    }
    .tab a span {
        font-size: 1.5vw;
        margin: 0;
        color: #ffffff;
        display: inline-block; /* <<< ini penting */
        white-space: nowrap;   /* biar teksnya nggak pindah baris */
    }
    .tab a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
    }
    .tab a span:hover {
        color: rgb(179, 179, 179);
        cursor: pointer;
    }
}

/* HAMBURGER */
.hamburger {
    width: 8vw;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3vw;
    z-index: 4;
}

/* 3 garis hamburger */
.hamburger div {
    background-color: #fff;
    height: 1vw;
    margin: 1.5vw 0;
    border-radius: 2px;
    transition: 0.3s;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

/* Hidden Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    z-index: 5;
}

/* Isi menu */
.menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #444;
    height: 5vh;
}
.menu a:hover {
    background-color: #444;
}

/* Menu terbuka */
.menu.open {
    max-height: 20vh;
    transition: max-height 0.4s ease-in;
}

/* SECTION: HERO */
.hero-section {
    background-image: url('../img/bg 2.jpg');
    background-position: center;
    background-attachment: fixed;
    height: 105vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -10vh;
}
.hero-overlay {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 120vh;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}
@media (max-width: 768px) {
    .hero-section {
        background-attachment: scroll;
    }
}
@media (min-width: 768px) {
    .hero-section {
        top: -10vw; 
    }
    .hero-overlay {
        top: 0;
        height: 120vh;
    }
}
.hero-content {
    position: relative;
    z-index: 1;
    margin: 20px;
}
.hero-content h1 {
    font-weight: 900;
    font-size: 11vw;
    margin-bottom: 20px;
}
.hero-content p {
    font-size: 4vw;
}
@media (min-width: 768px) {
    .hero-section {
        align-items: normal;
        justify-content: left;
        text-align: left;
        height: 118vh;
    }
    .hero-content {
        position: absolute;
        padding: 0 5vw 0 5vw;
    }
    .hero-content h1 {
        position: relative;
        top: 35vh;
        font-size: 6vw;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }
    .hero-content p {
        position: relative;
        font-size: 2vw;
        top: 35vh;
    }
    .break {
        display: block;
    }
}

/* SECTION: ABOUT */
.tentang-kami {
    padding: 80px 20px;
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
    top: -10vh;
}
.tentang-kami h2 {
    font-size: 9vw;
    margin-bottom: 20px;
}
.tentang-kami p {
    text-align: justify;
    margin: 0 auto;
    font-size: 4vw;
    line-height: 1.6;
    font-weight: 500;
}
.tentang-kami hr {
    position: relative;
    top: -2vh;
    background-color: rgb(0, 0, 0);
    width: 60%;
    margin: 0 auto; /* center horizontal */
}
.tentang-kami i {
    position: absolute;
    font-size: 6vw;
    top: 8vw;
    left: 47vw;
}
@media (min-width: 768px) {
    .tentang-kami {
        top: -10vw;
    }
    .tentang-kami h2 {
        font-size: 3vw;
        font-weight: 500;
    }
    .tentang-kami h3 {
        font-weight: 600;
    }
    .tentang-kami i {
        font-size: 2vw;
        left: 48.7%;
        top: 4vh;
    }
    .tentang-kami p {
        text-align: center;
        padding: 1vw 8vw;
        font-size: 1.3vw;
    }
    .tentang-kami hr {
        top: -1vw;
        width: 20%;
    }
}

/* SECTION: FOOTER */
.footer {
    font-size: 4vw;
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 2vw;
    z-index: 1;
}
.footer p {
    padding: 1vw;
}
@media (min-width: 768px) {
    .footer {
        padding: 0vw;
    }
    .footer p {
        font-size: 1.5vw;
    }
}